#cover{
    background-image:url("https://images.unsplash.com/photo-1495616811223-4d98c6e9c869?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2232&q=80");
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid white;
    border-radius:4rem;
    margin-left: 1rem;
    margin-right:1rem;
    margin-bottom: 1rem;
}

#cover img:first-child{
    margin-top: 2rem;
    margin-left: 27rem;
    width:35rem;
    border: none;
}

#cover img{
    margin-left: 33rem;
    width:20rem;
    border: 4px solid white;
    border-radius:10rem;
}

#cover p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    text-align: center;
}

#warm-up{
    background-image:url("https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80");
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid white;
    border-radius:4rem;
    margin-left: 1rem;
    margin-right:1rem;
}

#warm-up h2{
    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}

#warm-up h4{
    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

#warm-up li{
    margin-top: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    list-style-position: inside;
}

#warm-up img{
    margin-top: 10px;
    width:11rem;
    border: 4px solid white;
    border-radius:4rem;
}


#day1, #day2, #day3, #day4, #day5{
    background-color:grey;
    opacity: 0.5;
    width: 250px; 
    float:left;
    border-radius:4rem;
    margin-left: 20px;
    height:auto;
    border: 1px solid white;
    margin-bottom: 1rem;
    z-index:-1;
}

#day1:hover{
    opacity: 1;
    margin-left:15px;
    box-shadow:3px 3px 3px white;
}

#day2:hover{
    opacity: 1;
    margin-left:15px;
    box-shadow:3px 3px 3px white;
}

#day3:hover{
    opacity: 1;
    margin-left:15px;
    box-shadow:3px 3px 3px white;
}

#day4:hover{
    opacity: 1;
    margin-left:15px;
    box-shadow:3px 3px 3px white;
}

#day5:hover{
    opacity: 1;
    margin-left:15px;
    box-shadow:3px 3px 3px white;
}
